{% extends 'base.html' %}
{% load static %}

{% block title %}Signia — Contacto{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/usuarios/contacto.css' %}">
{% endblock %}

{% block content %}
<div class="content">

  <div class="form-card">
    <div class="form-header">
      <div class="form-badge">Lenguaje de señas</div>
      <h2>Envíanos un mensaje</h2>
      <p>Bienvenido a Signia — estamos aquí para ayudarte</p>
    </div>
    <div class="form-body">

      {% if observacion_enviada %}
        <div class="success-box">
          <strong>¡Gracias por tu observación!</strong>
          <p style="font-weight:400; color:#166534;">Hemos recibido tu mensaje y observación. La tendremos en cuenta para mejorar Signia.</p>
          <a href="{% url 'contacto' %}" style="display: inline-flex; align-items: center; gap: 0.3rem;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
              Volver al formulario
          </a>
        </div>

      {% elif enviado %}
        <div class="success-box">
          <div class="success-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#16a34a" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><path d="m9 11 3 3L22 4"/></svg>
          </div>
          <strong>¡Mensaje enviado correctamente!</strong>
          <p style="font-weight:400; color:#166534;">Te responderemos lo antes posible.</p>
          <a href="{% url 'contacto' %}" style="display: inline-flex; align-items: center; gap: 0.3rem;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
              Volver al formulario
          </a>
        </div>

      {% else %}

        {% if messages %}
          {% for message in messages %}
            <div class="error-box">{{ message }}</div>
          {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'contacto' %}">
          {% csrf_token %}
          <div class="field">
            <label>Nombre completo</label>
            <input type="text" name="nombre" placeholder="Tu nombre completo" required />
          </div>
          <div class="field">
            <label>Correo electrónico</label>
            <input type="email" name="correo" placeholder="tucorreo@ejemplo.com" required />
          </div>
          <div class="field">
            <label>Observación</label>
            <input type="text" name="observacion" placeholder="¿En qué podemos ayudarte?" />
          </div>
          <div class="field">
            <label>Tu mensaje</label>
            <textarea name="mensaje" placeholder="Escribe tu mensaje aquí..." required></textarea>
          </div>
          <br>
          <div class="botones">
            <button type="submit" class="btn-submit">Enviar mensaje</button>
          </div>
        </form>

      {% endif %}

    </div>
  </div>

  <div class="hero">
    <h1><svg xmlns="http://www.w3.org/2000/svg" 
      width="62" height="62" viewBox="0 0 24 24" 
      fill="none" stroke="#2563EB" 
      stroke-width="2.5" stroke-linecap="round" 
      stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail">
      <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" 
      width="20" height="16" rx="2"/>
    </svg>Ponte en <span  class="contacto">Contacto</span></h1>
    <p>¿Tienes alguna duda o quieres colaborar con nosotros? Envíanos un mensaje y te responderemos lo antes posible.</p>
  </div>

  <div class="info-card">
    <h2>Información de Contacto</h2>
    <div class="info-item">
      <h3><svg xmlns="http://www.w3.org/2000/svg"
         width="22" height="22" 
         viewBox="0 0 24 24" fill="none" 
         stroke="#1600bf" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" 
          class="lucide lucide-at-sign-icon lucide-at-sign">
          <circle cx="12" cy="12" r="4"/>
          <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8"/>
        </svg>Email</h3>
      <p>bo719914@gmail.com</p>
    </div>
    <div class="info-item">
      <h3><svg xmlns="http://www.w3.org/2000/svg" 
        width="22" height="22" viewBox="0 0 24 24" 
        fill="none" stroke="#00af29" stroke-width="2" 
        stroke-linecap="round" stroke-linejoin="round" 
        class="lucide lucide-phone-icon lucide-phone">
        <path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/>
      </svg>Teléfono</h3>
      <p>+57 3232392457</p>
    </div>
    <div class="info-item">
      <h3><svg xmlns="http://www.w3.org/2000/svg" 
      width="22" height="22" viewBox="0 0 24 24" fill="none"
       stroke="#2563EB" stroke-width="2" stroke-linecap="round" 
       stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin">
       <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/>
       <circle cx="12" cy="10" r="3"/>
      </svg>Ubicación</h3>
      <p>Garzon-Huila</p>
    </div>
  </div>

</div>
{% endblock %}